{% extends 'base.html.twig' %}
    {% block title %}NoLoB Sommeil{% endblock %}
        {% block body %}
            <div class=" row m-0 mt-5">
                 <div class=" container ">
                     {{ form_start(formSleep) }}
                        <div>
                            {{ form_row(formSleep.startsleep, { 'label' : 'Date', 'attr' :{ 'placeholder': 'Exemple: 2.6' } }) }} 
                        </div>
                        <div>
                            {{ form_row(formSleep.durationsleep, { 'label' : 'Durée du sommeil'} ) }}
                        </div>
                        <button type="submit" class="btn btn-success">Valider</button>
                     {{ form_end(formSleep) }}
                </div>
                <div class=" container  ">
                   <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
                     {% block javascripts %}
                        <script src="https://code.highcharts.com/highcharts.js"></script>
                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                        <script src="https://code.highcharts.com/modules/export-data.js"></script>

                        <script>

                                                var chart =   Highcharts.chart('container', {
                                    chart: {
                                        plotBackgroundColor: null,
                                        plotBorderWidth: 0,
                                        plotShadow: false
                                    },
                                    title: {
                                        text: 'Heure de sommeil',
                                        align: 'center',
                                        verticalAlign: 'middle',
                                        y: 40
                                    },
                                    tooltip: {
                                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                    },
                                    plotOptions: {
                                        pie: {
                                            dataLabels: {
                                                enabled: true,
                                                distance: -50,
                                                style: {
                                                    fontWeight: 'bold',
                                                    color: 'white'
                                                }
                                            },
                                            startAngle: -90,
                                            endAngle: 90,
                                            center: ['50%', '75%'],
                                            size: '110%'
                                        }
                                    },
                                    series: [{
                                        type: 'pie',
                                        name: 'Heure de sommeil',
                                        innerSize: '50%',
                                        data: [
                                            ['Dormis',{{duration}}],
                                        
                                        
                                            {
                                                name: 'Other',
                                                y: {{totalday}},
                                                dataLabels: {
                                                    enabled: false
                                                }
                                            }
                                        ]
                                    }]
                                });
                        </script>    
                {% endblock %}
             </div>
        </div>
    </div>
  </div>
{% endblock %}

